/*
Acid App Panel by Nathan 'Mastergreed' Usarzewicz
*/

@import url('reset.css');

body { 
  font-size: 90%;
  color: #545454; 
  font-family: "Helvetica", Arial, sans-serif;
  /* background: url("../images/background.jpg") repeat scroll left top transparent; */
}

/* ================ */
/* Body        */
/* ================ */

#body {
  width: 100%;
  height: 158px;
  background: #fff url("../images/bg.gif") repeat-x top left;
}

/* ================ */
/* Container        */
/* ================ */

#container {
	width:980px;
	float:left;
	margin-left: 20px;
}

/* ================ */
/* Header           */
/* ================ */

#panel-top {
	height:36px;
}

	#logo {
		float:left;
		width:128px;
	}
	#logo h1 {
		margin:0px;
		padding:0px;
	}
	#logo h1 a img { border: none !important; padding: 0 !important; margin: 0 !important; }
	
	#nav {
		float:left;
		width:620px;
	}
	#nav ul {
		margin:0px;
		padding:6px 0px 0px 0px;
		list-style:none;
		font-weight:bold;
		text-transform:lowercase;
	}
	#nav ul li {
		display:inline;
	}
	#nav ul li a {
		padding:5px;
		color:#eee;
	}
	#nav ul li a:hover {
		text-decoration:underline;
	}
	
	#session {
		float:right;
		color:#eee;
		font-weight:bold;
		text-transform:lowercase;
	}
	#session span {
		position:relative;
		top:6px;
	}
	#session a {
		color:#9DE2F6;
	}
	#session a:hover {
		text-decoration:underline;
	}
	
#panel-middle {
	height:42px;
}

	#return {
		float:left;
		width:128px;
	}
	#return span {
		position:relative;
		top:11px;
	}
	#return a {
		color:#fff;
	}
	#return a:hover {
		text-decoration:underline;
	}
	
	#subnav {
		float:left;
		width:720px;
	}
	#subnav ul {
		margin:0px;
		padding:10px 0px 0px 0px;
		list-style:none;
		font-weight:bold;
		text-transform:lowercase;
	}
	#subnav ul li {
		display:inline;
	}
	#subnav ul li a {
		padding:5px 6px;
		background:#fff url(../images/bg_btn.gif) repeat-x bottom left;
		border:2px solid #84C0D2;
		color:#545454;
		-moz-border-radius: 10px;
		-khtml-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	#subnav ul li a:hover {
		border:2px solid #4A9DB6;
		text-decoration:none;
	}
	
#panel-bottom {
	height:80px;
}

	#headline {
		float:right;
		width: 850px;
	}
	#headline h3 {
		font-family:"Georgia",Times,serif;
		font-size:50px;
		font-weight:normal;
		color:#385C69 !important;
		margin:0px;
		padding:14px 0px;
	}
	
/* ================ */
/* Primary          */
/* ================ */

#primary {
	float:right;
	width: 850px;
	padding:20px 0px;
	background-color: #fff;
}

/* ================ */
/* Front Columns    */
/* ================ */

#col-left {
	float:left;
	width:420px;
}

#col-right {
	float:left;
	width:420px;
	padding-left:10px;
}

/* ================ */
/* Primary          */
/* ================ */

#columns h4,
#content h3,
#content h4,
#login h2 {
	font-family:"Georgia",Times,serif;
	font-size:24px;
	font-weight:normal;
	color:#385C69 !important;
	margin:0px;
	padding:14px 0px;
}
#content h4 {
	font-size: 16px;
}

/* ================ */
/* Footer           */
/* ================ */

#footer {
	clear:both;
	padding:15px 0px 60px 0px;
}
	
	.footer {
		float:right;
		width: 846px;
		padding:6px 2px;
		border-top:1px solid #f9f9f9;
		color:#CDCDCD;
		font-size:70%;
	}
	.footer a {
		color:#CDCDCD;
		text-decoration:underline;
	}
	.footer a:hover {
		color:#97E8FF;
	}
	
/* ====================== */
/* Notice Boxes           */
/* ====================== */

.data {
	background: #DEF1F8;
	border: 1px solid #CBDFE7;
}

.notice {
	background: #FFFECC;	
	border: 1px solid #FAECB5;
}

.success {
	background: #E2F9E3;	
	border: 1px solid #9ECE9E;
}

.error {
	background: #FFEDEF;	
	border: 1px solid #FFC5CC;
}

.notice,
.success,
.error,
.data {
	color: #636363;
	font-size: 0.92em;
	padding: 14px;
	margin: 6px 0px;
}

.notice span,
.success span,
.error span,
.data span {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 2px;
}

.success span { color: #579157; }
.error span { color: #CF8790 }
.notice span { color: #BBAB67; }
.data span { color: #8BC3D9; }

.notice p,
.success p,
.error p,
.data p {
	margin: 0px;padding: 0px;
}

.notice a { color: #BBAB67; }
.success a { color: #579157; }
.error a { color: #CF8790; }
.data a { color: #8BC3D9;}

.notice a,
.success a,
.error a,
.data a {
	font-weight: bold;
}
.notice a:hover,
.success a:hover,
.error a:hover,
.data a:hover {
	text-decoration: underline;
}

	.data ul {
		margin: 0px;
		padding: 12px 0 12px 0;
	}
	.data ul li {
		display: block;
		padding: 5px;
		border-bottom: 1px solid #C7EAF7;
	}
	.data ul li span {
		font-size: 1.0em;
		color: #636363;
	}
	
/* ====================== */
/* Tables                 */
/* ====================== */

table {
	width: 100%;
	border: 5px solid #DEF1F8;
}

/* Header */

thead tr th {
	font-weight: bold;
	background: #474849;
	color: #eee;
	padding: 12px 13px;
}

/* Body */

	tbody tr td {
		border-top: 1px solid #DEF1F8;
		padding: 12px 13px;
		background: #EDF3F5;
	}
		tbody tr.alt td { background: #fff; }
		
	tbody tr:hover td {
		background: #FFFECC;
	}
	
/* ====================== */
/* Forms                  */
/* ====================== */

form {
	background: #E7F4F8;
	padding: 16px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.input_field {
	clear:both;
}
.input_field label {
	display:block;
	text-align:right;
	width:100px;
	float:left;
	position: relative;
	top:6px;
	padding-right: 6px;
}

.input {
	border: 3px solid #DFF1F6;
	padding: 6px;
}
.input:focus {
	border-color: #9DE2F6;
}

.smallfield { width: 100px; }
.mediumfield { width: 200px; }
.bigfield { width: 400px; }
.textarea {
	font-family: "Helvetica", Arial, sans-serif;
}
	
.validate_success,
.validate_error {
	padding-left: 18px;
	font-style: italic;
	margin-left: 4px;
}
	.validate_success { background: url(../images/validate_success.png) no-repeat left; color: #39CE31; }
	.validate_error { background: url(../images/validate_error.png) no-repeat left; color: #D33232; }
	
/* ====================== */
/* Pagination             */
/* ====================== */

.paginator { 
	margin: 0px; 
	padding: 0px;  
	list-style: none; 
	display: block;
	clear: both;
	padding: 8px 0px 0px;
}
.paginator li {
	display: inline;
}

.current a,
.previous a,
.next a,
.page a {
	background: #E7F4F8;
	border: 1px solid #E7F4F8;
	padding: 5px 7px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.previous a:hover,
.next a:hover,
.page a:hover {
	border-color: #9DE2F6;
	color: #39B2D4;
}
.current a {
	background: #42BFE2;
	border-color: #1C99BD;
	color: #fff;
}
.empty {
	color: #888;
	padding: 5px 7px;
}
	
/* ====================== */
/* Login                  */
/* ====================== */
	
#loginbody { background: #fff; }
	
#login {
	width: 400px;
	margin: 20px auto;
}	
	#loginbox {
		padding-top: 40px;
	}
	#loginbox h2 {
		text-align: center;
	}
	
	#loginform p {
		margin: 0px;
		padding: 4px 0px;
	}
	#loginform label {
		color: #8BC3D9;
		font-size: 10px;
		padding-left: 4px;
	}
	#loginform .loginfield {
		width: 350px;
		font-family: "Georgia",Times,serif;
		font-size: 24px;
	}
	p.lostpswrd {
		margin: 0px;
		padding: 12px;
		font-size: 10px;
	}
	
/* ====================== */
/* Other Elements         */
/* ====================== */

/* Images */

a img {
	border: 1px solid #EBF4F7;
	padding: 4px;
}
a:hover img {
	border-color: #6ED0EC;
}

/* Code & Pre & Blockquote */

code {
	display: inline;
	padding: 2px 6px;
	background: #F7F7F7;
	margin: 0px 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
}

pre {
	display: block;
	white-space: normal;
	background: #F7F7F7;
	padding: 10px 12px;
	margin: 14px 0px;
	clear: both;
	font-size: 0.9em;
}

blockquote {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 10px 10px 10px 70px;
	font-style: italic;
}

/* Buttons */

.button,
.submit {
	padding:5px 6px;
	background:#fff url(../images/bg_btn.gif) repeat-x bottom left;
	border:2px solid #84C0D2;
	color:#545454;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-weight:bold;
	text-transform:lowercase;
	color: #545454;
	margin: 0px 2px;
	cursor: pointer;
	cursor: hand;
}
.button:hover,
.submit:hover {
	border:2px solid #4A9DB6;
	text-decoration:none;
	color: #545454;
}

/* Hide elements and align them */

.hidden {display:none;}
.left {float:left;}
.right {float:right;}

/* Padding classess */

.ptop { padding-top: 12px; }
.pbottom { padding-bottom: 12px; }
.pleft { padding-left: 12px; }
.pright { padding-right: 12px; }

/* Margin classess */

.mtop { margin-top: 12px; }
.mbottom { margin-bottom: 12px; }
.mleft { margin-left: 12px; }
.mright { margin-right: 12px; }